/* Style for the overall container */
#container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    font-family: "Blinker", sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: black;
    width: fit-content;
  }

  label {
    font-family: "Blinker", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
  }

  input {
    width: 400px;
    margin: 10px 0px;
    border-radius: 6px;
    padding: 10px 5px;
    
  }

  button {
    background-color: #615033;
    font-weight: 600;
    color: white;
    width: 410px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 0px;
    border-radius: 6px;
  }

  a {
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    margin: 10px 0px;
    color: #61768B;
  }
/* 
  .blinker-semibold {
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    font-style: normal;
  } */