* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Blinker", Helvetica, sans-serif;
    font-weight: 100;
    background-color: #e0cdac;
    color: #142536;
    margin: 0;
    padding: 0;
}

#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e0cdac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row-reverse; */
}

.btn {
    font-family: "Blinker", Helvetica, sans-serif;
    font-weight: 100;
    background-color: #615033;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.main_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-top: px; */
}

.discussions_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px;
}

.discussions_header {
    display: flex;
    justify-content: space-between;
}

.discussion {
    display: flex;
    justify-content: space-between;
}

#courtroompic {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
}

#filter {
    font-family: "Blinker", Helvetica, sans-serif;
    font-weight: 100;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid #61768b;
    border-radius: 5px;
    background: #ffffff;
}

#title {
    text-align: left;
    background-color: #e0cdac;
}

#join {
    text-align: right;
    background-color: #e0cdac;
}

th {
    background-color: white;
}

.basicinfo {
    text-align: center;
    background-color: #a1947e;
    color: white;
    padding-bottom: 20px;
}